html {
   
    background-color: plum;
}
h1 {
    
    text-align: center;
    font-weight: bolder;
    text-decoration-color: palevioletred;
    text-shadow: 4px 4px 3px powderblue;

}
.mermaid1 {
    text-align: center;
    font-style: italic;
    color: rgb(240, 24, 132);
}
.mermaid2 {
    text-align: center;
    color: rgb(8, 28, 207);
    font-family: cursive;
}
.mermaid3 {
    align-content: center;

    color: rgb(10, 170, 233);
    font-family: cursive;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
