html {
   
    background-color: #778899;
}
.one {
    font-family: arial;
    color: #90ee90;
    position: relative;
    top: 2px;
    left: 620px;
}

.topnav {
    position:fixed;
    left: 450px;
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #90ee90;
    padding: 10px 50px;
    text-decoration: salmon;
    font-size: 20px;
}
.topnav a:hover {
    background-color:#ffc0cb;
    color: purple;
}


h3 {
    color: #90ee90;
    position: relative;
    left: 600px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    position: relative;
    left: 200px;
  }
.align1{
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
  }
  td {
    border: 3px dotted #90ee90;
    text-align: left;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


.zip{
    position: relative;
    left: 550px;
    font-family: arial;
    background-color: #778899;

}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #ffc0cb;
}
.copyright{
    position: relative;
    left:600px;
}
.copyright:hover {
    text-decoration: underline;
    color: #ffc0cb;
}